{% extends "base.html" %}
{% block content %}
<main>
    <h1>About</h1>
	<div class="chapterType1">
        <h1 id="2">自己紹介</h1>
	<p>名前: ニンタ/ NINTA</p>
	<p>環境: CLIP STUDIO PAINT PRO / Live2D Cubism Editor</p>
	<p>I can take some commissions to design character art, rig Live2D avatar, channel art, icon and so on!<br>
		ゲームキャラクターデザインイラスト、Vtuberキャラデザ・モデリングの依頼お受けしております。<br>
        お気軽にご相談ください！</p>
        <h2>Vtuberイラストの企業案件実績(2020~2022)</h2>
        <ul>
        <li>IRIAMライバー深見ヨル様　VTuber事務所bond: VTuber(Live2Dモデリング担当)作成</li>
        <li>まがれつ様(登録者20万人) 株式会社RELATION X: Vtuber(Live2D、イラスト担当)作成</li>
        <li>株式会社RELATION X　所属ライバー様: VTuber(Live2D、イラスト担当)作成</li>
        <li>株式会社HELLOWORLD(ハローワールド):　Vtuber(Live2D、イラスト担当)作成</li>
            <li>非公開企業依頼（Vtuber作成）</li>
        <li>株式会社Looop(ループ): Youtube歌ってみたイラスト作成(20万回再生)</li>
        <li>徳島ご当地ヒーロー蒼竜神マヴェルのVtuber化</li>
             </ul> 
	</div>
    <div class="clear"></div>
</main>
{% endblock %}
