
<script>
    $(function() {
      $('#optionform').on('submit',function(event){
        event.preventDefault();
        var options = $('input[name="options"]:checked').map(function() {
          return $(this).val();
        }).get();
        $.ajax({
          type : 'POST',
          url : '/selectoption',
          dataType: 'html',
          contentType: 'application/json',
          data : JSON.stringify({ array : options})
        })

        .done(function(data){
          $('#optionarea').html(data);
        });
      });
    });
</script>

{%if userid != 0 %}

<form id = "optionform">
  <h2>見積表 / Quotation sheet</h2>
  <p>Choose options you want to add</p>
  <table class="table">
    <tr>
      <td>ID</td>
      <td>options</td>
      <td>price</td>
    </tr>
    {% for option in options %}
    <tr>
            <td>{{option[0]}}</td>
            <td><label id="{{option[0]}}"><input type="checkbox" name="options" value="{{option[0]}}" id = "{{option[0]}}">{{option[1]}} / {{option[2]}} </label></td>
            <td> {{option[3]}} JPY / {{option[4]}} USD</td>
        
    </tr>
    {% endfor %}
  </table>
  <input class="button2" type="submit" value="見積確認 / Check out uotation" id = "ajaxoptions">
</form>

{% else %}

<form id = "optionform">
  <h2>見積表 / Quotation sheet</h2>
  <p>Choose options you want to add</p>
<table class="table">
  <tr>
    <td>options</td>
    <td>price</td>
  </tr>
  {% for option in options %}
  <tr>
          <td><label id="{{option[0]}}"><input type="checkbox" name="options" value="{{option[0]}}" id = "{{option[0]}}">{{option[1]}} / {{option[2]}} </label></td>
          <td> {{option[3]}} JPY / {{option[4]}} USD</td>
  </tr>
  {% endfor %}
</table>
<input class="button2" type="submit" value="見積確認 / Check out uotation" id = "ajaxoptions">
</form>

{% endif %}

<div id="optionarea">
</div>


