
<script>
    $(function() {
      $('#optionform').on('submit',function(event){
        event.preventDefault();
        var options = $('input[name="options"]:checked').map(function() {
          return $(this).val();
        }).get();
        $.ajax({
          type : 'POST',
          url : '/selectoption',
          dataType: 'html',
          contentType: 'application/json',
          data : JSON.stringify({ array : options})
        })

        .done(function(data){
          $('#optionarea').html(data);
        });
      });
    });
</script>

<form id = "optionform">
    <p>Choose options you want to add</p>
  <table>
    <tr>
      <th>options</th>
      <th>price</th>
    </tr>
    {% for option in options %}
    <tr>
            <td><label id="{{option[0]}}"><input type="checkbox" name="options" value="{{option[0]}}" id = "{{option[0]}}">{{option[1]}} / {{option[2]}} </label></td>
            <td> JPY{{option[3]}} / USD{{option[4]}}</td>
        
    </tr>
    {% endfor %}
  </table>
  <p><input type="submit" value="send" id = "ajaxoptions"></p>
</form>

<div id="optionarea">
</div>


