{% extends 'base.html' %}

{% block content %}
<main>
	<div class="chapterType1">
        <h1>Send Google form or E-mail</h1>
        <h3>Feel free to send the form and select the submit button, please. I'ii contact you in a few days and confirm the details about your commissions!</h3>
        <h3>Contact with E-mail: ninta.illustration@gmail.com</h3>

			<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd4I8yWToEeZWh3GFI30-1rDU2czehx-Tm8FcjbVmwXCQhtgA/viewform?embedded=true" width="100%" height="1500px" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

    </div>			
</main>
{% endblock %}