<header>
    <div class="TitleAndIcon">
		<img class="float_left_icon" src="https://ninta.main.jp/images/nintaicon.png">
        <p class="Title">ニンタ/キャラデザ</p>
    </div>
        <div class="clear"></div>
		<nav>
		<ul>


            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href=" {{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
		</ul>
		</nav>
        <div class="chapterType2">
        <a href="https://px.a8.net/svt/ejp?a8mat=3TJGLY+11IBW2+4F56+HY7W1" rel="nofollow">
            <img class="ad" text-align="center" alt="" src="https://www24.a8.net/svt/bgt?aid=231015382063&wid=001&eno=01&mid=s00000020625003015000&mc=1"></a>
            <img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=3TJGLY+11IBW2+4F56+HY7W1" alt="">
        </div>
</header>