{% extends "base.html" %}
{% block content %}
<main>
	<div class="chapterType2">
		
		<h1>Home</h1>
    	<img class="fig1" src="https://ninta.main.jp/images/icon2.png">
        <h1>Name: ニンタ(Ninta)</h1>
        <h3>I can take some commissions to design character art, rig Live2D avatar, channel art, icon and so on!<br>キャラクターデザイン、Live2Dモデリング、イラスト作成のご依頼お受けします。ご依頼の詳細はContactから。<br>
		実績/past works:<br>
		 live2D 株式会社VIC/VIC inc.(Runa Kguya belonged)<br>
		Art & Live2D 株式会社ライバー/liver inc.(Ritsu Takatsuki belonged)</h3>

        

        <a class="button" href="https://twitter.com/ninta_mk3">Twitter</a>
        <a class="button" href="https://www.pixiv.net/users/43235147">Pixiv</a>
        <a class="button" href="https://www.twitch.tv/ninta_live2d">Twitch</a>
		<a class="button" href="https://www.youtube.com/@nintaArtLive2D">YouTube</a>
		<a class="button" href="https://ko-fi.com/nintajp">Ko-fi</a>


		
		{% if userid != 0 %}
		<div class="clear_both">
			<div class="float_left">
				<h2>Upload posts</h2>
				<p>
					<form action="{{ url_for('userpage.submission') }}" method="post">
						<div>
						<label for="title1">title</label><br>
						<input type="text" name="title" id="title" required>
						</div>
						<div>
						<label for="post1">post from X or YouTube</label><br>
						<input type='text' name="post" id="post" required minlength="4">
						</div>
						<button>post</button>
					</form>
				</p>
			</div>

			<h2>Delete posts</h2>
			<p>
				<form action="{{ url_for('userpage.deletepost') }}" method="post">
					<div>
					<label for="id">ID</label><br>
					<input type="number" name="id" id="id" required>
					<button>post</button>
				</form>
			</p>
		</div>


			<div class="float_left">	
				<h2>Creat new category tags</h2>
					<form action="{{ url_for('tag.createtag') }}" method="post">
						<div>
						<label for="post1">Newtag</label><br>
						<input type='text' name="newtag" id="newtag" required minlength="1">
						</div>
						<button>post</button>
					</form>
					{% with messages = get_flashed_messages() %}
						{% if messages %}
							<ul class="flash">
							{% for message in messages %}
								<li>{{ message }}</li>
							{% endfor %}
							</ul>
						{% endif %}
					{% endwith %}
			</div>
				
			<div class="float_left">
				<h2>Add options</h2>
					<p>
						<form action="{{ url_for('option.option') }}" method="post">
							<div>
								<label for="namejp">JPname</label><br>
								<input type="text" name="namejp" id="namejp" required>
							</div>
							<div>
								<label for="nameen">ENname</label><br>
								<input type='text' name="nameen" id="nameen" required>
							</div>
							<div>
								<label for="pricejp">JPprice</label><br>
								<input type='number' name="pricejp" id="pricejp" required>
							</div>
							<div>
								<label for="priceen">ENprice</label><br>
								<input type='number' name="priceen" id="priceen" required>
							</div>
							<div>
								<label for="orders">Orders</label><br>
								<input type='number' name="orders" id="orders" required>
							</div>
							<div>
								<label for="categories">Categories</label><br>
								<input type='text' name="categories" id="categories" required>
							</div>
							<button>post</button>
						</form>
					</p>
			</div>

			<div class="float_left">
				<h2>Update options</h2>
					<p>
						<form action="{{ url_for('option.updateoption') }}" method="post">
							<div>
								<label for="id">ID</label><br>
								<input type="mumber" name="id" id="id" required>
							</div>
							<div>
								<label for="namejp">JPname</label><br>
								<input type="text" name="namejp" id="namejp" required>
							</div>
							<div>
								<label for="nameen">ENname</label><br>
								<input type='text' name="nameen" id="nameen" required>
							</div>
							<div>
								<label for="pricejp">JPprice</label><br>
								<input type='number' name="pricejp" id="pricejp" required>
							</div>
							<div>
								<label for="priceen">ENprice</label><br>
								<input type='number' name="priceen" id="priceen" required>
							</div>
							<div>
								<label for="orders">Orders</label><br>
								<input type='number' name="orders" id="orders" required>
							</div>
							<div>
								<label for="categories">Categories</label><br>
								<input type='text' name="categories" id="categories" required>
							</div>
							<button>post</button>
						</form>
					</p>
			</div>
			
			<div class="float_left">
				<h2>Delete options</h2>
				<p>
					<form action="{{ url_for('option.deleteoption') }}" method="post">
						<div>
							<label for="id">ID</label><br>
							<input type="mumber" name="id" id="id" required>
						</div>
						<button>post</button>
					</form>
				</p>
			</div>

			<div class="float_left">
				<h2>Update orders</h2>
				<p>
					<form action="{{ url_for('option.updateorder') }}" method="post">
						<div>
							<label for="id">ID</label><br>
							<input type="mumber" name="id" id="id" required>
						</div>
						<div>
							<label for="order">Order</label><br>
							<input type="mumber" name="order" id="order" required>
						</div>
						<button>post</button>
					</form>
				</p>
			</div>

			<div class="float_left">
				<h2>Add column</h2>
					<p>
						<form action="{{ url_for('option.addcolumnoption') }}" method="post">
							<div>
								<label for="tablename">Table name</label><br>
								<input type="text" name="tablename" id="tablename" required>
							</div>
							<div>
								<label for="columnname">Column name</label><br>
								<input type='text' name="columnname" id="columnname" required>
							</div>
							<div>
								<label for="type">Type</label><br>
								<input type='text' name="type" id="type" required>
							</div>
							<div>
								<label for="default">Default set</label><br>
								<input type='text' name="default" id="default" required>
							</div>
							<button>post</button>
						</form>
					</p>
			</div>
		{% endif %}

		 <div class="clear"></div>
		
		</div>

	<div class="chapterType1"> 
        <h1>Live2D Pick-up!</h1>

        <ul class="Live2Dgallerry-contents">
                <li>        <div class="video-container">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/xeTCihh0kPg?si=_tmWsc5A68Jp4iP0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
                    
                </li>
                <li>
                    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/d_gSRCxzKxU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
                    
                    
                </li>
            <li>
                    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/k4lmJiDOHxE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
                    
                    
                </li>
            </ul>	
       </div>
	   <div class="clear"></div>
    
         <div class="chapterType2">
			<h1>ご依頼 / commission</h1>
			<h3>Skeb discount until 30/SEP/2024</h3>
			<p>If you requested a Skeb commission before, I discount the same price of the Skeb commission from a VTuber making (design&rig) commission!!!<br>
			Let me know you commissioned me before through Skeb, when you commissionme to make a new VTuber!</p>
			<h3>Get discouts!!!→ <a class="button" href="https://skeb.jp/@ninta_Mk3">Skeb commission</a></h3>

			<!-- waiting lists -->
				<p>
					{% include "WaitList.html" %}
				</p>

				<h2>Live2Dプラン表 / Live2D plan sheet</h2>

				<p>
				<a class="button3" href="javascript:void(0)" id="category_折りたたみB" onclick="show('折りたたみB');">プラン表/ Plan sheet</a>
            	<div  id="layer_折りたたみB" style="display: none;position:relative;margin-left:15pt" class="close">
					{% include "plan.html" %}
				</div>
				</p>

				{% include "checkbox.html" %}

				<p>リピーターの方、活動実績のある方、企業様の場合は実績を考慮させていただき、なるべくお安くご依頼をお受けさせていただきます。<br>
					Clients who commissioned me before, who has many followers or have experience of streaming, or who are belonging to companies are able to take much discounts.</p>
				<p>

				<h2>ご連絡 / Contact</h2>

				<h3>Googleフォームで依頼内容を送る / Send Google forms</h3>
				<p><a class="button" href="javascript:void(0)" id="category_折りたたみA" onclick="show('折りたたみA');"> Open Google form</a></p>
				<div  id="layer_折りたたみA" style="display: none;position:relative;margin-left:15pt;" class="close">
					<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSd4I8yWToEeZWh3GFI30-1rDU2czehx-Tm8FcjbVmwXCQhtgA/viewform?embedded=true" width="100%" height="800px" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
				</div>
				<div class="clear"></div>
    	</div>
         
        <div class="clear"></div>
  
	<div class="chapterType2">
	<div id = "seetagareas">

		<h2>Ninta's works</h2>

		<script>
			$(function() {
			  $('#seetagsform').on('submit',function(event){
				event.preventDefault();
				var tags = $('#ajaxseetags').val();
				$.ajax({
				  type : 'POST',
				  url : '/selecttag' ,
				  dataType: 'html',
				  data:{ tags: tags },
				})

				.done(function(data){
				  $('#seetagareas').html(data);
				});
			  });
			});
		  </script>

		<form id="seetagsform">
			<div>
				<label for="Selecttags">Select tags</label>
				<select name="tags" id = "ajaxseetags">
					{% for tag in tags %}
					<option value="{{tag[3]}}">{{tag[3]}}</option>
					{% endfor %}
				</select>
				<input type="submit" value="select tags">
			</div>
		</form>

			{% include "areacontents.html" %}	

		<div id="contentareas{{ count }}">

			<script>
				$(function() {
				  $('#contentform{{ count }}').on('submit',function(event){
					event.preventDefault();
					var contents = $('#ajaxcontents{{ count }}').val();
					$.ajax({
					  type : 'POST',
					  url : '/newcontents',
					  dataType: 'html',
					  data:{ contents: contents },
					})
	
					.done(function(data){
					  $('#contentareas{{ count }}').html(data);
					});
				  });
				});
			</script>
			<form id ="contentform{{ count }}" >
				<input type="hidden" value="{{ count }}" id = 'ajaxcontents{{ count }}'>
				<input class="button3" type="submit" value="more contents">
			</form>
		</div>

		</div>
	</div>

</main>
{% endblock %}
