{% extends "base.html" %}
{% block content %}
<main>
	<div class="chapterType2">
		<h1>Home</h1>
    	<img class="fig1" src="images/icon2.png">
        <h1>Name: ニンタ(Ninta)</h1>
        <h3>I can take some commissions to design character art, rig Live2D avatar, channel art, icon and so on!<br>キャラクターデザイン、Live2Dモデリング、イラスト作成のご依頼お受けします。ご依頼の詳細はContactから。</h3>

        

        <a class="button" href="https://twitter.com/ninta_mk3">Twitter</a>
        <a class="button" href="https://www.pixiv.net/users/43235147">Pixiv</a>
        <a class="button" href="https://www.twitch.tv/ninta_live2d">Twitch</a>
		<a class="button" href="https://www.youtube.com/@nintaArtLive2D">YouTube</a>

		
		{% if userid != 0 %}
		<div class="clear_both">
			<div class="float_left">
				<h2>Upload posts</h2>
				<p>
					<form action="{{ url_for('userpage.submission') }}" method="post">
						<div>
						<label for="title1">title</label><br>
						<input type="text" name="title" id="title" required>
						</div>
						<div>
						<label for="post1">post from X or YouTube</label><br>
						<input type='text' name="post" id="post" required minlength="4">
						</div>
						<button>post</button>
					</form>
				</p>
			</div>

			<h2>Delete posts</h2>
			<p>
				<form action="{{ url_for('userpage.deletepost') }}" method="post">
					<div>
					<label for="id">ID</label><br>
					<input type="number" name="id" id="id" required>
					<button>post</button>
				</form>
			</p>
		</div>


			<div class="float_left">	
				<h2>Creat new category tags</h2>
					<form action="{{ url_for('tag.createtag') }}" method="post">
						<div>
						<label for="post1">Newtag</label><br>
						<input type='text' name="newtag" id="newtag" required minlength="1">
						</div>
						<button>post</button>
					</form>
					{% with messages = get_flashed_messages() %}
						{% if messages %}
							<ul class="flash">
							{% for message in messages %}
								<li>{{ message }}</li>
							{% endfor %}
							</ul>
						{% endif %}
					{% endwith %}
			</div>
				
			<div class="float_left">
				<h2>Add options</h2>
					<p>
						<form action="{{ url_for('option.option') }}" method="post">
							<div>
								<label for="namejp">JPname</label><br>
								<input type="text" name="namejp" id="namejp" required>
							</div>
							<div>
								<label for="nameen">ENname</label><br>
								<input type='text' name="nameen" id="nameen" required>
							</div>
							<div>
								<label for="pricejp">JPprice</label><br>
								<input type='number' name="pricejp" id="pricejp" required>
							</div>
							<div>
								<label for="priceen">ENprice</label><br>
								<input type='number' name="priceen" id="priceen" required>
							</div>
							<button>post</button>
						</form>
					</p>
			</div>

			<div class="float_left">
				<h2>Update options</h2>
					<p>
						<form action="{{ url_for('option.updateoption') }}" method="post">
							<div>
								<label for="id">ID</label><br>
								<input type="mumber" name="id" id="id" required>
							</div>
							<div>
								<label for="namejp">JPname</label><br>
								<input type="text" name="namejp" id="namejp" required>
							</div>
							<div>
								<label for="nameen">ENname</label><br>
								<input type='text' name="nameen" id="nameen" required>
							</div>
							<div>
								<label for="pricejp">JPprice</label><br>
								<input type='number' name="pricejp" id="pricejp" required>
							</div>
							<div>
								<label for="priceen">ENprice</label><br>
								<input type='number' name="priceen" id="priceen" required>
							</div>
							<button>post</button>
						</form>
					</p>
			</div>
			
			<div class="float_left">
				<h2>Delete options</h2>
				<p>
					<form action="{{ url_for('option.deleteoption') }}" method="post">
						<div>
							<label for="id">ID</label><br>
							<input type="mumber" name="id" id="id" required>
						</div>
						<button>post</button>
					</form>
				</p>
			</div>
		</div>	
		<div class="clear"></div>

		{% endif %}
	
	</div>

	<div class="clear"></div>
         </div>
    
         <div class="chapterType2">
            <a class="button" href="javascript:void(0)" id="category_折りたたみA" onclick="show('折りたたみA');">お見積り・ご連絡 / Quate</a>
            <div id="layer_折りたたみA" style="display: none;position:relative;margin-left:15pt" class="close">
            {% if content %}
            <p>
                {% for contenttext in content %}
                    {{contenttext[2]}}<br>
                {%endfor%}
            </p>
            {% else %}
                <h1 id="1">お見積り・ご連絡/Quotation</h1>
                <p>If you are interested in request of making a VTuber, please contact me with filling out form!<br>Vtuber作成、キャラデザの依頼や質問があればお気軽にご相談ください！<br>
                メールフォームの下にご依頼方法と値段表を記入してあります。</p>
                <p>VTuber用イラスト作成 ~35,000円<br>Designing VTuber art 300usd<br>
                イラストパーツ分け ~15,000円 <br>Making a psd ready for Live2D rigging 200usd<br>
                Live2Dモデリング ~150,000円 <br> Live2D rigging 1200usd
                </p>
            {% endif %}
                <form class="mailForm" action=mail.php method="post">
                    <dl>
                      <dt>お名前/Name</dt>
                      <dd>
                        <input name="name" type="text" required="required" id="name">
                      </dd>
                      <dt>メールアドレス/your Email address</dt>
                      <dd>
                        <input name="email" type="email" required="required" id="email">
                      </dd>
                      <dt>ご依頼の概要/Request contents</dt>
                      <dd>
                        <textarea name="content" required="required" id="content"></textarea>
                      </dd>
                      <input type="hidden" id="token" name="token" value="1234567" />
                    </dl>
                    <p class="center" id="submit_button_cover">
                        <input name="submit_buton" type="submit" id="submit_button" value="送信/post" class="button2">
                    </p>
                       </form>
            </div>
    
    
        </div>
         
    <div class="chapterType1"> 
        <h1>Live2D Pick-up!</h1>

        <ul class="Live2Dgallerry-contents">
                <li>        <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/xv0XPkmLVR8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
                    
                </li>
                <li>
                    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/d_gSRCxzKxU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
                    
                    
                </li>
            <li>
                    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/k4lmJiDOHxE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
                    
                    
                </li>
            </ul>	
       </div>
        <div class="clear"></div>
    </div>
  
	<div class="chapterType2">
	<div id = "seetagareas">

		<h2>Ninta's works</h2>

		<script>
			$(function() {
			  $('#seetagsform').on('submit',function(event){
				event.preventDefault();
				var tags = $('#ajaxseetags').val();
				$.ajax({
				  type : 'POST',
				  url : '/selecttag' ,
				  dataType: 'html',
				  data:{ tags: tags },
				})

				.done(function(data){
				  $('#seetagareas').html(data);
				});
			  });
			});
		  </script>

		<form id="seetagsform">
			<div>
				<label for="Selecttags">Select tags</label>
				<select name="tags" id = "ajaxseetags">
					{% for tag in tags %}
					<option value="{{tag[3]}}">{{tag[3]}}</option>
					{% endfor %}
				</select>
				<input type="submit" value="select tags">
			</div>
		</form>

			{% include "areacontents.html" %}	

		<div id="contentareas{{ count }}">

			<script>
				$(function() {
				  $('#contentform{{ count }}').on('submit',function(event){
					event.preventDefault();
					var contents = $('#ajaxcontents{{ count }}').val();
					$.ajax({
					  type : 'POST',
					  url : '/newcontents',
					  dataType: 'html',
					  data:{ contents: contents },
					})
	
					.done(function(data){
					  $('#contentareas{{ count }}').html(data);
					});
				  });
				});
			</script>
			<form id ="contentform{{ count }}" >
				<input type="hidden" value="{{ count }}" id = 'ajaxcontents{{ count }}'>
				<input class="button3" type="submit" value="more contents">
			</form>
		</div>

		</div>
	</div>

</main>
{% endblock %}
